<%= simple_form_for @message do |f| %>
  <%= f.input :title, label: "Message Title",
              label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
              input_html: { autocomplete: "title", 
                            class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } 
  %>
  <%= f.input :description,
              label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
              input_html: { autocomplete: "description", 
                            class: "w-full h-40 bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } 
  %>

  <%= f.button :submit, class: "bg-gray-400 hover:bg-gray-500 text-white uppercase text-s mx-auto p-2 rounded m-2" %>
<% end %>
