<% @messages.each do |message|%>
  <div class="container mx-auto">
    <div>
      <h2 class="text-gray-800 text-2xl bold"><%= message.title %></h2>
      <div class="p-4">
        <%= link_to "Join Discossion!", message, 
            class: "border-2 border-blue-400 hover:border-blue-500 text-gray-700 hover:text-blue-500 text-sm uppercase mx-auto p-2 rounded m-4" %>
      </div>
    </div>

  </div>
<% end %>

<div class="container mx-auto pt-2">
  <%= link_to "Post Message", new_message_path, 
      class: "border-2 border-green-400 hover:border-green-500 text-gray-700 hover:text--500 text-sm uppercase mx-auto p-2 rounded m-4"%>
</div>