<div class="container mx-auto">
  <div class="">
    <h1 class="text-blue-400 text-3xl uppercase">Post Message</h1>
  </div>
  <div class="container mx-auto">
    <%= render 'form' %>
  </div>
  
</div>