<div class="container mx-auto">
  <div class="p-4">
    <h2 class="text-blue-600 text-2xl uppercase "><%= @message.title %></h2>
    <p class="text-sm bold"><%= time_ago_in_words(@message.created_at)%> ago</p>
    <p class="text-lg"><%= @message.description %></p>

  </div>

  <div class="p-4">
    <h2 class="text-blue-600 text-2xl uppercase">Comments</h2>
    <p class="text-sm bold"><%= render @message.comments %></p>
    <h3 class="text-blue-800 text-sm uppercase">Join Discossion</h3>
    <%= render 'comments/form' %>
  </div>
</div>
<div class="container mx-auto pt-2 flex">
  <%= link_to "Back", root_path,
        class: "border-2 
                border-indigo-400 
                hover:border-indigo-500 
                text-gray-700 
                hover:text-indigo-800
                hover:bg-indigo-500 
                text-sm 
                uppercase 
                p-2 
                flex-initial
                rounded 
                " %>
  <% if user_signed_in? %>
    <% if @message.user_id == current_user.id %>
      <%= link_to "Edit", edit_message_path(@message),
            class: "border-2 
                    border-blue-400 
                    hover:border-blue-500 
                    text-gray-700 
                    hover:text-blue-800
                    hover:bg-blue-500 
                    text-sm 
                    uppercase 
                    p-2 
                    rounded 
                    ml-2" %>
      <%= link_to "Delete", message_path(@message), method: :delete,
            data: { confirm: "Are you sure?"},
            class: "border-2 
                    border-pink-400 
                    hover:border-pink-500 
                    text-gray-700 
                    hover:text-pink-800
                    hover:bg-pink-500 
                    text-sm 
                    uppercase 
                    p-2 
                    flex-initial
                    rounded 
                    ml-2" %>
    <% end %>
  <% end %>
</div>