<div>
  <p class="text-lg"><%= comment.content %></p>
  <p class="text-green-400 text-sm bold">By <%= comment.user.email %> <%= time_ago_in_words(comment.created_at)%> ago</p>

  <div>
    <% if user_signed_in? %>
      <% if comment.user_id == current_user.id %>
        <%= link_to "Edit", edit_message_comment_path(comment.message, comment),
            class: "text-blue-300 hover:text-blue-700 underline" %>
        <%= link_to "Delete", message_comment_path(comment.message, comment),
            method: :delete, data: { confirm: "Are you sure?" },
            class: "text-red-200 hover:text-red-600 underline" %>
      <% end %>
    <% end %>

  </div>
</div>