<%= simple_form_for ([ @message, @message.comments.build]) do |f| %>
  <%= f.input :content, label: "Comments",
              label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
              input_html: { autocomplete: "description", 
                            class: "w-full h-40 bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } 
  %>

  <%= f.button :submit, class: "bg-blue-400 hover:bg-blue-500 text-white uppercase text-s mx-auto p-2 rounded m-2" %>
<% end %>