<div class="container mx-auto bg-indigo-400">

  <h2 class="text-2xl upercase p-4">Forgot your password?</h2>
  <div class="container mx-auto p-4">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
                    input_html: { autocomplete: "email",  class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"} %>
      </div>

      <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "bg-gray-400 hover:bg-gray-500 text-white uppercase text-s mx-auto p-2 rounded m-2" %>
          <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>

</div>
