<!DOCTYPE html>
<html>
  <head>
    <title>SportsForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="bg-indigo-500 shadow-lg">
      <div class="container mx-auto">
        <div class="sm:flex justify-between">
          <%= link_to "Sport Fan Forum", root_path,  class: "text-white text-2xl font-bold p-3 uppercase" %>
          <ul class="text-gray-300 sm:self-center text-xl border-t sm:border-none">
            <% if user_signed_in? %>
              <li class="sm:inline-block">
                <%= link_to "Create Post", new_message_path, class: "p-3 hover:text-white" %>
              </li>
            <% end %>
            <% if current_user.present?%>
              <li class="sm:inline-block">
                <%= link_to "Sing Out", destroy_user_session_path, method: :delete, class: "p-3 hover:text-white" %>
              </li>
            <% else %>
              <li class="sm:inline-block">
                <%= link_to "Log In", new_user_session_path, class: "p-3 hover:text-white" %>
              </li>
              <li class="sm:inline-block">
                <%= link_to "Sing Up", new_user_registration_path, class: "p-3 hover:text-white" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="pt-4">
      <%= yield %>
    </div>
  </body>
</html>
